__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment variables
.env
.envrc

# Logs & Database
*.log
db.sqlite3

# Coverage / Testing
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db